<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.plm.core.base.mapper.ActivityMapper">

        <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ActivityResultMap" type="cn.ibizlab.plm.core.base.domain.Activity" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="createMan" column="create_man"/>
		<result property="createTime" column="create_time"/>
		<result property="updateMan" column="update_man"/>
		<result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectById"  resultMap="ActivityResultMap">
        <include refid="view" /> 
         where 
         t1.id=#{ id }
    </select>

    <select id="selectEntity" parameterType="cn.ibizlab.plm.core.base.domain.Activity" resultMap="ActivityResultMap">
        <include refid="view" /> 
         where 
         (t1.id = #{ id })
    </select>

    <select id="selectEntities" parameterType="java.util.List" resultMap="ActivityResultMap">
        <include refid="view" /> 
         where 
         (t1.id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </select>

    <delete id="deleteEntities" parameterType="java.util.List">
    delete from ACTIVITY
    where (id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </delete>

    <sql id="default" databaseId="mysql">
         <![CDATA[ SELECT t1.`AUDITTYPE`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`IPADDRESS`, t1.`NAME`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`OPPERSONID`, t1.`OPPERSONNAME`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `ACTIVITY` t1   ]]>  
    </sql>

    <sql id="view" databaseId="mysql">
         <![CDATA[ SELECT t1.`AUDITINFO`, t1.`AUDITTYPE`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`IPADDRESS`, t1.`NAME`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`OPPERSONID`, t1.`OPPERSONNAME`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `ACTIVITY` t1   ]]>  
    </sql>

    <select id="searchAll"  parameterType="cn.ibizlab.plm.core.base.filter.ActivitySearchContext"  resultMap="ActivityResultMap">
        select t1.* 
        from (
            <include refid="view"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listAll"  parameterType="cn.ibizlab.plm.core.base.filter.ActivitySearchContext"  resultMap="ActivityResultMap">
        select t1.*
        from (
            <include refid="view"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchDefault"  parameterType="cn.ibizlab.plm.core.base.filter.ActivitySearchContext"  resultMap="ActivityResultMap">
        select t1.* 
        from (
            <include refid="default"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listDefault"  parameterType="cn.ibizlab.plm.core.base.filter.ActivitySearchContext"  resultMap="ActivityResultMap">
        select t1.*
        from (
            <include refid="default"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="listView"  parameterType="cn.ibizlab.plm.core.base.filter.ActivitySearchContext"  resultMap="ActivityResultMap">
        select t1.*
        from (
            <include refid="view" />
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>


</mapper>