<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.plm.core.prodmgmt.mapper.IdeaTemplateMapper">

        <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IdeaTemplateResultMap" type="cn.ibizlab.plm.core.prodmgmt.domain.IdeaTemplate" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="isGlobal" column="is_global"/>
		<result property="productIdentifier" column="product_identifier"/>
		<result property="sectionName" column="section_name"/>
		<result property="sectionId" column="section_id"/>
		<result property="createMan" column="create_man"/>
		<result property="createTime" column="create_time"/>
		<result property="updateMan" column="update_man"/>
		<result property="updateTime" column="update_time"/>
		<result property="productId" column="product_id"/>
		<result property="productName" column="product_name"/>
		<result property="categoryId" column="category_id"/>
		<result property="categoryName" column="category_name"/>
        <association property="category" javaType="cn.ibizlab.plm.core.base.domain.Category" column="category_id" select="cn.ibizlab.plm.core.base.mapper.CategoryMapper.selectById" fetchType="lazy"></association>
        <association property="product" javaType="cn.ibizlab.plm.core.prodmgmt.domain.Product" column="product_id" select="cn.ibizlab.plm.core.prodmgmt.mapper.ProductMapper.selectById" fetchType="lazy"></association>
    </resultMap>

    <select id="selectById"  resultMap="IdeaTemplateResultMap">
        <include refid="view" /> 
         where 
         t1.id=#{ id }
    </select>

    <select id="selectEntity" parameterType="cn.ibizlab.plm.core.prodmgmt.domain.IdeaTemplate" resultMap="IdeaTemplateResultMap">
        <include refid="view" /> 
         where 
         (t1.id = #{ id })
    </select>

    <select id="selectEntities" parameterType="java.util.List" resultMap="IdeaTemplateResultMap">
        <include refid="view" /> 
         where 
         (t1.id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </select>

    <delete id="deleteEntities" parameterType="java.util.List">
    delete from IDEA_TEMPLATE
    where (id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </delete>

    <sql id="default" databaseId="mysql">
         <![CDATA[ SELECT t21.`CATEGORIES`, t1.`CATEGORY_ID`, t21.`NAME` AS `CATEGORY_NAME`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`PRODUCT_ID`, t11.`IDENTIFIER` AS `PRODUCT_IDENTIFIER`, t11.`NAME` AS `PRODUCT_NAME`, t21.`SECTION_ID`, t31.`NAME` AS `SECTION_NAME`, t1.`TITLE`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `IDEA_TEMPLATE` t1  LEFT JOIN `PRODUCT` t11 ON t1.`PRODUCT_ID` = t11.`ID`  LEFT JOIN `CATEGORY` t21 ON t1.`CATEGORY_ID` = t21.`ID`  LEFT JOIN `SECTION` t31 ON t21.`SECTION_ID` = t31.`ID`   ]]>  
    </sql>

    <sql id="view" databaseId="mysql">
         <![CDATA[ SELECT t21.`CATEGORIES`, t1.`CATEGORY_ID`, t21.`NAME` AS `CATEGORY_NAME`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`DESCRIPTION`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`PRODUCT_ID`, t11.`IDENTIFIER` AS `PRODUCT_IDENTIFIER`, t11.`NAME` AS `PRODUCT_NAME`, t21.`SECTION_ID`, t31.`NAME` AS `SECTION_NAME`, t1.`TITLE`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `IDEA_TEMPLATE` t1  LEFT JOIN `PRODUCT` t11 ON t1.`PRODUCT_ID` = t11.`ID`  LEFT JOIN `CATEGORY` t21 ON t1.`CATEGORY_ID` = t21.`ID`  LEFT JOIN `SECTION` t31 ON t21.`SECTION_ID` = t31.`ID`   ]]>  
    </sql>

    <sql id="global" databaseId="mysql">
         <![CDATA[ SELECT t21.`CATEGORIES`, t1.`CATEGORY_ID`, t21.`NAME` AS `CATEGORY_NAME`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`PRODUCT_ID`, t11.`IDENTIFIER` AS `PRODUCT_IDENTIFIER`, t11.`NAME` AS `PRODUCT_NAME`, t21.`SECTION_ID`, t31.`NAME` AS `SECTION_NAME`, t1.`TITLE`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `IDEA_TEMPLATE` t1  LEFT JOIN `PRODUCT` t11 ON t1.`PRODUCT_ID` = t11.`ID`  LEFT JOIN `CATEGORY` t21 ON t1.`CATEGORY_ID` = t21.`ID`  LEFT JOIN `SECTION` t31 ON t21.`SECTION_ID` = t31.`ID`   ]]>  where  <![CDATA[ ( ( t1.`IS_GLOBAL` = 1  OR  t1.`PRODUCT_ID` = #{ctx.webcontext.product_id} ) ) ]]> 
    </sql>

    <select id="searchDefault"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.IdeaTemplateSearchContext"  resultMap="IdeaTemplateResultMap">
        select t1.* 
        from (
            <include refid="default"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listDefault"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.IdeaTemplateSearchContext"  resultMap="IdeaTemplateResultMap">
        select t1.*
        from (
            <include refid="default"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchGlobal"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.IdeaTemplateSearchContext"  resultMap="IdeaTemplateResultMap">
        select t1.* 
        from (
            <include refid="global"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listGlobal"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.IdeaTemplateSearchContext"  resultMap="IdeaTemplateResultMap">
        select t1.*
        from (
            <include refid="global"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="listView"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.IdeaTemplateSearchContext"  resultMap="IdeaTemplateResultMap">
        select t1.*
        from (
            <include refid="view" />
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>

    <select id="findByCategoryId" resultMap="IdeaTemplateResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where category_id in <foreach item="id" index="index" collection="categoryIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>

    <select id="findByProductId" resultMap="IdeaTemplateResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where product_id in <foreach item="id" index="index" collection="productIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>


</mapper>