<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.plm.core.testmgmt.mapper.ReviewContentMapper">

        <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ReviewContentResultMap" type="cn.ibizlab.plm.core.testmgmt.domain.ReviewContent" autoMapping="true">
		<result property="changeType" column="change_type" />
		<result property="principalId" column="principal_id" />
		<result property="changeVersion" column="change_version" />
		<result property="ownerType" column="owner_type" />
		<result property="principalType" column="principal_type" />
		<result property="stageResults" column="stage_results" />
		<result property="targetType" column="target_type" />
		<result property="targetId" column="target_id" />
		<result property="targetVersionId" column="target_version_id" />
		<result property="parentVersionId" column="parent_version_id" />
		<result property="workItem" column="work_item" />
		<result property="curVersionId" column="cur_version_id" />
		<result property="targetIdentifier" column="target_identifier" />
		<result property="targetTitle" column="target_title" />
		<result property="targetState" column="target_state" />
		<result property="targetAssignee" column="target_assignee" />
		<result property="targetPriority" column="target_priority" />
		<result property="targetParentId" column="target_parent_id" />
		<result property="updateMan" column="update_man" />
		<result property="createMan" column="create_man" />
		<result property="updateTime" column="update_time" />
		<result property="createTime" column="create_time" />
        <association property="review" javaType="cn.ibizlab.plm.core.testmgmt.domain.Review" column="principal_id" select="cn.ibizlab.plm.core.testmgmt.mapper.ReviewMapper.selectById" fetchType="lazy"></association>
        <association property="targetVersion" javaType="cn.ibizlab.plm.core.base.domain.Version" column="target_version_id" select="cn.ibizlab.plm.core.base.mapper.VersionMapper.selectById" fetchType="lazy"></association>
        <association property="testCase" javaType="cn.ibizlab.plm.core.testmgmt.domain.TestCase" column="target_id" select="cn.ibizlab.plm.core.testmgmt.mapper.TestCaseMapper.selectById" fetchType="lazy"></association>
    </resultMap>

    <select id="selectById"  resultMap="ReviewContentResultMap">
        select t1.* from ( <include refid="view" /> ) t1 
         where 
         t1.id=#{ id }
    </select>

    <select id="selectEntity" parameterType="cn.ibizlab.plm.core.testmgmt.domain.ReviewContent" resultMap="ReviewContentResultMap">
        <include refid="view" /> 
         where 
         (t1.id = #{ id })
    </select>

    <select id="selectEntities" parameterType="java.util.List" resultMap="ReviewContentResultMap">
        <include refid="view" /> 
         where 
         (t1.id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </select>


    <sql id="default" databaseId="mysql">
         <![CDATA[ SELECT t1.`CHANGE_TYPE`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t11.`CUR_VERSION_ID`, t1.`ID`, t1.`NAME`, t11.`OWNER_TYPE`, t11.`PARENT_VERSION_ID`, t11.`PRINCIPAL_ID`, t11.`PRINCIPAL_TYPE`, t11.`TARGET_ID`, t11.`TARGET_TYPE`, t11.`TARGET_VERSION_ID`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `REVIEW_CONTENT_EXTEND` t1  LEFT JOIN `RELATION` t11 ON t1.`ID` = t11.`ID`   ]]>  
    </sql>

    <sql id="view" databaseId="mysql">
         <![CDATA[ SELECT t1.`CHANGE_TYPE`, t1.`CHANGE_VERSION`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t11.`CUR_VERSION_ID`, t1.`ID`, t1.`NAME`, t11.`OWNER_TYPE`, t11.`PARENT_VERSION_ID`, t11.`PRINCIPAL_ID`, t11.`PRINCIPAL_TYPE`, t11.`TARGET_ID`, t11.`TARGET_TYPE`, t11.`TARGET_VERSION_ID`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `REVIEW_CONTENT_EXTEND` t1  LEFT JOIN `RELATION` t11 ON t1.`ID` = t11.`ID`   ]]>  
    </sql>

    <sql id="all" databaseId="mysql">
         <![CDATA[ SELECT t1.`CHANGE_TYPE`, t1.`CHANGE_VERSION`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t11.`CUR_VERSION_ID`, t1.`ID`, t1.`NAME`, t11.`OWNER_TYPE`, t11.`PARENT_VERSION_ID`, t11.`PRINCIPAL_ID`, t11.`PRINCIPAL_TYPE`, t11.`TARGET_ID`, t11.`TARGET_TYPE`, t11.`TARGET_VERSION_ID`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `REVIEW_CONTENT_EXTEND` t1  LEFT JOIN `RELATION` t11 ON t1.`ID` = t11.`ID`   ]]>  
    </sql>

    <select id="searchDefault"  parameterType="cn.ibizlab.plm.core.testmgmt.filter.ReviewContentSearchContext"  resultMap="ReviewContentResultMap">
        select t1.* 
        from (
            <include refid="default"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listDefault"  parameterType="cn.ibizlab.plm.core.testmgmt.filter.ReviewContentSearchContext"  resultMap="ReviewContentResultMap">
        select t1.*
        from (
            <include refid="default"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchAll"  parameterType="cn.ibizlab.plm.core.testmgmt.filter.ReviewContentSearchContext"  resultMap="ReviewContentResultMap">
        select t1.* 
        from (
            <include refid="all"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listAll"  parameterType="cn.ibizlab.plm.core.testmgmt.filter.ReviewContentSearchContext"  resultMap="ReviewContentResultMap">
        select t1.*
        from (
            <include refid="all"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="findByPrincipalId" resultMap="ReviewContentResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where principal_id in <foreach item="id" index="index" collection="principalIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>

    <select id="findByTargetVersionId" resultMap="ReviewContentResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where target_version_id in <foreach item="id" index="index" collection="targetVersionIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>

    <select id="findByTargetId" resultMap="ReviewContentResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where target_id in <foreach item="id" index="index" collection="targetIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>


</mapper>