<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.plm.core.testmgmt.mapper.ReviewWizardMapper">

        <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ReviewWizardResultMap" type="cn.ibizlab.plm.core.testmgmt.domain.ReviewWizard" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="libraryIdentifier" column="library_identifier" />
		<result property="submitterId" column="submitter_id" />
		<result property="submitterName" column="submitter_name" />
		<result property="showIdentifier" column="show_identifier" />
		<result property="createMan" column="create_man" />
		<result property="createTime" column="create_time" />
		<result property="updateMan" column="update_man" />
		<result property="updateTime" column="update_time" />
		<result property="guidelineId" column="guideline_id" />
		<result property="libraryName" column="library_name" />
		<result property="libraryId" column="library_id" />
        <association property="guideline" javaType="cn.ibizlab.plm.core.testmgmt.domain.Guideline" column="guideline_id" select="cn.ibizlab.plm.core.testmgmt.mapper.GuidelineMapper.selectById" fetchType="lazy"></association>
        <association property="library" javaType="cn.ibizlab.plm.core.testmgmt.domain.Library" column="library_id" select="cn.ibizlab.plm.core.testmgmt.mapper.LibraryMapper.selectById" fetchType="lazy"></association>
    </resultMap>

    <select id="selectById"  resultMap="ReviewWizardResultMap">
        <include refid="view" /> 
         where 
         t1.id=#{ id }
    </select>

    <select id="selectEntity" parameterType="cn.ibizlab.plm.core.testmgmt.domain.ReviewWizard" resultMap="ReviewWizardResultMap">
        <include refid="view" /> 
         where 
         (t1.id = #{ id })
    </select>

    <select id="selectEntities" parameterType="java.util.List" resultMap="ReviewWizardResultMap">
        <include refid="view" /> 
         where 
         (t1.id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </select>

    <delete id="deleteEntities" parameterType="java.util.List">
    delete from REVIEW
    where (id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </delete>

    <sql id="default" databaseId="mysql">
         <![CDATA[ SELECT t1.`CATEGORIES`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`DESCRIPTION`, t1.`GUIDELINE_ID`, t1.`ID`, t1.`IDENTIFIER`, t1.`LIBRARY_ID`, t11.`IDENTIFIER` AS `LIBRARY_IDENTIFIER`, t11.`NAME` AS `LIBRARY_NAME`, t1.`NAME`, concat(t11.`IDENTIFIER`,'-',t1.`IDENTIFIER`) AS `SHOW_IDENTIFIER`, t1.`STATE`, t1.`SUBMITTER_ID`, t1.`SUBMITTER_NAME`, t1.`TYPE`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `REVIEW` t1  LEFT JOIN `LIBRARY` t11 ON t1.`LIBRARY_ID` = t11.`ID`   ]]>  
    </sql>

    <sql id="view" databaseId="mysql">
         <![CDATA[ SELECT t1.`ACTION_RULE`, t1.`CATEGORIES`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`DESCRIPTION`, t1.`GUIDELINE_ID`, t1.`ID`, t1.`IDENTIFIER`, t1.`LIBRARY_ID`, t11.`IDENTIFIER` AS `LIBRARY_IDENTIFIER`, t11.`NAME` AS `LIBRARY_NAME`, t1.`NAME`, t1.`RULE`, concat(t11.`IDENTIFIER`,'-',t1.`IDENTIFIER`) AS `SHOW_IDENTIFIER`, t1.`STAGE`, t1.`STATE`, t1.`SUBMITTER_ID`, t1.`SUBMITTER_NAME`, t1.`TYPE`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `REVIEW` t1  LEFT JOIN `LIBRARY` t11 ON t1.`LIBRARY_ID` = t11.`ID`   ]]>  
    </sql>

    <select id="searchDefault"  parameterType="cn.ibizlab.plm.core.testmgmt.filter.ReviewWizardSearchContext"  resultMap="ReviewWizardResultMap">
        select t1.* 
        from (
            <include refid="default"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listDefault"  parameterType="cn.ibizlab.plm.core.testmgmt.filter.ReviewWizardSearchContext"  resultMap="ReviewWizardResultMap">
        select t1.*
        from (
            <include refid="default"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="findByGuidelineId" resultMap="ReviewWizardResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where guideline_id in <foreach item="id" index="index" collection="guidelineIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>

    <select id="findByLibraryId" resultMap="ReviewWizardResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where library_id in <foreach item="id" index="index" collection="libraryIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>


</mapper>