<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.plm.core.devops.mapper.CommitMapper">

        <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="CommitResultMap" type="cn.ibizlab.plm.core.devops.domain.Commit" autoMapping="true">
		<id property="sha" column="sha" /><!--主键字段映射-->
    </resultMap>

    <select id="selectById"  resultMap="CommitResultMap">
        <include refid="view" /> 
         where 
         t1.sha=#{ sha }
    </select>

    <select id="selectEntity" parameterType="cn.ibizlab.plm.core.devops.domain.Commit" resultMap="CommitResultMap">
        <include refid="view" /> 
         where 
         (t1.sha = #{ sha })
    </select>

    <select id="selectEntities" parameterType="java.util.List" resultMap="CommitResultMap">
        <include refid="view" /> 
         where 
         (t1.sha)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.sha }) </foreach>)
    </select>

    <delete id="deleteEntities" parameterType="java.util.List">
    delete from scm_commit
    where (sha)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.sha }) </foreach>)
    </delete>

    <sql id="default" databaseId="mysql">
         <![CDATA[ SELECT t1.`MESSAGE`, t1.`SHA` FROM `scm_commit` t1   ]]>  
    </sql>

    <sql id="view" databaseId="mysql">
         <![CDATA[ SELECT t1.`MESSAGE`, t1.`SHA` FROM `scm_commit` t1   ]]>  
    </sql>

    <select id="searchDefault"  parameterType="cn.ibizlab.plm.core.devops.filter.CommitSearchContext"  resultMap="CommitResultMap">
        select t1.* 
        from (
            <include refid="default"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listDefault"  parameterType="cn.ibizlab.plm.core.devops.filter.CommitSearchContext"  resultMap="CommitResultMap">
        select t1.*
        from (
            <include refid="default"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="listView"  parameterType="cn.ibizlab.plm.core.devops.filter.CommitSearchContext"  resultMap="CommitResultMap">
        select t1.*
        from (
            <include refid="view" />
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>


</mapper>