<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.plm.core.wiki.mapper.StencilMapper">

        <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="StencilResultMap" type="cn.ibizlab.plm.core.wiki.domain.Stencil" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="formatType" column="format_type"/>
		<result property="isGlobal" column="is_global"/>
		<result property="createMan" column="create_man"/>
		<result property="createTime" column="create_time"/>
		<result property="updateMan" column="update_man"/>
		<result property="updateTime" column="update_time"/>
		<result property="spaceId" column="space_id"/>
		<result property="spaceName" column="space_name"/>
        <association property="space" javaType="cn.ibizlab.plm.core.wiki.domain.Space" column="space_id" select="cn.ibizlab.plm.core.wiki.mapper.SpaceMapper.selectById" fetchType="lazy"></association>
    </resultMap>

    <select id="selectById"  resultMap="StencilResultMap">
        <include refid="view" /> 
         where 
         t1.id=#{ id }
    </select>

    <select id="selectEntity" parameterType="cn.ibizlab.plm.core.wiki.domain.Stencil" resultMap="StencilResultMap">
        <include refid="view" /> 
         where 
         (t1.id = #{ id })
    </select>

    <select id="selectEntities" parameterType="java.util.List" resultMap="StencilResultMap">
        <include refid="view" /> 
         where 
         (t1.id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </select>

    <delete id="deleteEntities" parameterType="java.util.List">
    delete from STENCIL
    where (id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </delete>

    <sql id="default" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`FORMAT_TYPE`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`SPACE_ID`, t11.`NAME` AS `SPACE_NAME`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `STENCIL` t1  LEFT JOIN `SPACE` t11 ON t1.`SPACE_ID` = t11.`ID`   ]]>  
    </sql>

    <sql id="view" databaseId="mysql">
         <![CDATA[ SELECT t1.`CONTENT`, t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`FORMAT_TYPE`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`SPACE_ID`, t11.`NAME` AS `SPACE_NAME`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `STENCIL` t1  LEFT JOIN `SPACE` t11 ON t1.`SPACE_ID` = t11.`ID`   ]]>  
    </sql>

    <sql id="noSpaceStencil" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`FORMAT_TYPE`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`SPACE_ID`, t11.`NAME` AS `SPACE_NAME`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `STENCIL` t1  LEFT JOIN `SPACE` t11 ON t1.`SPACE_ID` = t11.`ID`   ]]>  where  <![CDATA[ ( t1.`SPACE_ID` IS NULL ) ]]> 
    </sql>

    <sql id="reader" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`FORMAT_TYPE`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`SPACE_ID`, t11.`NAME` AS `SPACE_NAME`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `STENCIL` t1  LEFT JOIN `SPACE` t11 ON t1.`SPACE_ID` = t11.`ID`   ]]>  where  <![CDATA[ EXISTS(SELECT * FROM `SPACE_MEMBER` t21   WHERE   t11.`ID` = t21.`SPACE_ID`  AND  ( t21.`USER_ID` = #{ctx.sessioncontext.srfpersonid} ) ) ]]> 
    </sql>

    <sql id="spaceStencil" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`FORMAT_TYPE`, t1.`ID`, t1.`IS_GLOBAL`, t1.`NAME`, t1.`SPACE_ID`, t11.`NAME` AS `SPACE_NAME`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME` FROM `STENCIL` t1  LEFT JOIN `SPACE` t11 ON t1.`SPACE_ID` = t11.`ID`   ]]>  where  <![CDATA[ ( t1.`SPACE_ID` = #{ctx.webcontext.space} ) ]]> 
    </sql>

    <select id="searchDefault"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.* 
        from (
            <include refid="default"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listDefault"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.*
        from (
            <include refid="default"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchNoSpaceStencil"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.* 
        from (
            <include refid="noSpaceStencil"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listNoSpaceStencil"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.*
        from (
            <include refid="noSpaceStencil"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchReader"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.* 
        from (
            <include refid="reader"/>
                 union
            <include refid="noSpaceStencil"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listReader"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.*
        from (
            <include refid="reader"/>
                 union
            <include refid="noSpaceStencil"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchSpaceStencil"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.* 
        from (
            <include refid="spaceStencil"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listSpaceStencil"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.*
        from (
            <include refid="spaceStencil"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="listView"  parameterType="cn.ibizlab.plm.core.wiki.filter.StencilSearchContext"  resultMap="StencilResultMap">
        select t1.*
        from (
            <include refid="view" />
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>

    <select id="findBySpaceId" resultMap="StencilResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where space_id in <foreach item="id" index="index" collection="spaceIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>


</mapper>