<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.plm.core.prodmgmt.mapper.ProductMemberMapper">

        <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="ProductMemberResultMap" type="cn.ibizlab.plm.core.prodmgmt.domain.ProductMember" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="userId" column="user_id"/>
		<result property="roleId" column="role_id"/>
		<result property="productName" column="product_name"/>
		<result property="productIdentifier" column="product_identifier"/>
		<result property="createMan" column="create_man"/>
		<result property="createTime" column="create_time"/>
		<result property="updateMan" column="update_man"/>
		<result property="updateTime" column="update_time"/>
		<result property="productId" column="product_id"/>
        <association property="product" javaType="cn.ibizlab.plm.core.prodmgmt.domain.Product" column="product_id" select="cn.ibizlab.plm.core.prodmgmt.mapper.ProductMapper.selectById" fetchType="lazy"></association>
    </resultMap>

    <select id="selectById"  resultMap="ProductMemberResultMap">
        <include refid="view" /> 
         where 
         t1.id=#{ id }
    </select>

    <select id="selectEntity" parameterType="cn.ibizlab.plm.core.prodmgmt.domain.ProductMember" resultMap="ProductMemberResultMap">
        <include refid="view" /> 
         where 
         (t1.id = #{ id })
    </select>

    <select id="selectEntities" parameterType="java.util.List" resultMap="ProductMemberResultMap">
        <include refid="view" /> 
         where 
         (t1.id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </select>

    <delete id="deleteEntities" parameterType="java.util.List">
    delete from PRODUCT_MEMBER
    where (id)
         in (<foreach collection="list" item="item" index="index" separator=","> (#{ item.id }) </foreach>)
    </delete>

    <sql id="default" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`NAME`, t1.`PRODUCT_ID`, t11.`IDENTIFIER` AS `PRODUCT_IDENTIFIER`, t11.`NAME` AS `PRODUCT_NAME`, t1.`ROLE_ID`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME`, t1.`USER_ID` FROM `PRODUCT_MEMBER` t1  LEFT JOIN `PRODUCT` t11 ON t1.`PRODUCT_ID` = t11.`ID`   ]]>  
    </sql>

    <sql id="view" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`NAME`, t1.`PRODUCT_ID`, t11.`IDENTIFIER` AS `PRODUCT_IDENTIFIER`, t11.`NAME` AS `PRODUCT_NAME`, t1.`ROLE_ID`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME`, t1.`USER_ID` FROM `PRODUCT_MEMBER` t1  LEFT JOIN `PRODUCT` t11 ON t1.`PRODUCT_ID` = t11.`ID`   ]]>  
    </sql>

    <sql id="curProduct" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`NAME`, t1.`PRODUCT_ID`, t11.`IDENTIFIER` AS `PRODUCT_IDENTIFIER`, t11.`NAME` AS `PRODUCT_NAME`, t1.`ROLE_ID`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME`, t1.`USER_ID` FROM `PRODUCT_MEMBER` t1  LEFT JOIN `PRODUCT` t11 ON t1.`PRODUCT_ID` = t11.`ID`   ]]>  where ( <choose><when test='ctx.datacontext.product_id !=null and ctx.datacontext.product_id != &quot;&quot; '>  t1.`PRODUCT_ID` = #{ctx.datacontext.product_id}  </when><otherwise>1=1</otherwise></choose>  AND  t1.`PRODUCT_ID` = #{ctx.datacontext.id} ) 
    </sql>

    <sql id="withProduct" databaseId="mysql">
         <![CDATA[ SELECT t1.`CREATE_MAN`, t1.`CREATE_TIME`, t1.`ID`, t1.`NAME`, t1.`PRODUCT_ID`, t11.`IDENTIFIER` AS `PRODUCT_IDENTIFIER`, t11.`NAME` AS `PRODUCT_NAME`, t1.`ROLE_ID`, t1.`UPDATE_MAN`, t1.`UPDATE_TIME`, t1.`USER_ID` FROM `PRODUCT_MEMBER` t1  LEFT JOIN `PRODUCT` t11 ON t1.`PRODUCT_ID` = t11.`ID`   ]]>  where  <![CDATA[ ( t1.`PRODUCT_ID` = #{ctx.webcontext.product_id} ) ]]> 
    </sql>

    <select id="searchDefault"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.ProductMemberSearchContext"  resultMap="ProductMemberResultMap">
        select t1.* 
        from (
            <include refid="default"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listDefault"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.ProductMemberSearchContext"  resultMap="ProductMemberResultMap">
        select t1.*
        from (
            <include refid="default"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchCurProduct"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.ProductMemberSearchContext"  resultMap="ProductMemberResultMap">
        select t1.* 
        from (
            <include refid="curProduct"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listCurProduct"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.ProductMemberSearchContext"  resultMap="ProductMemberResultMap">
        select t1.*
        from (
            <include refid="curProduct"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="searchWithProduct"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.ProductMemberSearchContext"  resultMap="ProductMemberResultMap">
        select t1.* 
        from (
            <include refid="withProduct"/>
        ) t1 
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>


    <select id="listWithProduct"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.ProductMemberSearchContext"  resultMap="ProductMemberResultMap">
        select t1.*
        from (
            <include refid="withProduct"/>
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        
    </select>

    <select id="listView"  parameterType="cn.ibizlab.plm.core.prodmgmt.filter.ProductMemberSearchContext"  resultMap="ProductMemberResultMap">
        select t1.*
        from (
            <include refid="view" />
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>

    <select id="findByProductId" resultMap="ProductMemberResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where product_id in <foreach item="id" index="index" collection="productIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>

    <select id="findByUserId" resultMap="ProductMemberResultMap">
        select t1.* from (
            <include refid="default"/>
        ) t1
        where user_id in <foreach item="id" index="index" collection="userIds" open="(" separator="," close=")">#{id}</foreach> 
    </select>


</mapper>